@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
 Html.AppendCssFileParts("~/Styles/TGI/myAccount.css");

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
  <div class="accountBody">
@using (Html.BeginForm("ChangePassword", "Customer",FormMethod.Post,new { @class="form-horizontal"}))
{
    @Html.AntiForgeryToken()
    <div class="page account-page change-password-page">
        <div class="productHeading noMarginTop">
        <h3 class="noMarginTop noMarginBottom">@T("Account.MyAccount") - @T("Account.ChangePassword")</h3>
    </div>
   
        
        <div class="page-body">
            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>
            @if (!String.IsNullOrEmpty(Model.Result))
            {
               <div class="result">
                    @Model.Result
                </div>


                <div class="alertMessageSection pull-right">
 <div class="pull-left"> <span class="successMsgTextIcon pull-left"></span><span class="successMsgText pull-left result"> @Model.Result</span></div>
    @*<div class="pull-left"><span class="successMsgTextIcon errorMsgTextIcon pull-left"></span><span class="errorMsgText pull-left"> Please re-Check the passwords</span></div>*@
</div>
            }
            <div class="form-group pull-left">
                <div class="form-group pull-left">
                    <div class="form-group pull-left">
                        @Html.LabelFor(model => model.OldPassword, new { @class = "pull-left"}, ":")
<div class="pull-left inputArea">
                        @Html.EditorFor(model => model.OldPassword) </div>
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>
                    <div class="form-group pull-left">
                        @Html.LabelFor(model => model.NewPassword, new { @class = "pull-left"}, ":")
<div class="pull-left inputArea">
                        @Html.EditorFor(model => model.NewPassword) </div>
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                    <div class="form-group pull-left">
                        @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "pull-left"}, ":")
<div class="pull-left inputArea">
                        @Html.EditorFor(model => model.ConfirmNewPassword)</div>
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                    </div>
                </div>
            </div>
            <div class="buttons pull-left">
                <input type="submit" class="button-1 change-password-button btn continue" value="@T("Account.ChangePassword.Button")" />
            </div>
        </div>
    </div>
}
</div>