@model IList<ProductOverviewModel>
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Catalog;
@*@{
     Html.AppendScriptParts("~/scripts/public.ajaxcart.js");  
}*@

@if (Model.Count > 0)
{
    int i = 0;
    <div class="carouselBlock span10 noMarginLeft pull-right">
        <div class="span10 noMarginLeft ">
            <div class="well well-small">
                <h3 class="productHeading">
                    Laptops <a href="@Url.RouteUrl("Category", new { SeName = "Laptop" })" class="viewAll">View All</a>
                </h3>

                <div class="row-fluid">
                    <div class="carousel slide" id="featured2">
                        <div class="carousel-inner">
                            
                            @foreach (var item in Model)
                            {
                                   //prepare "Add to cart" AJAX link
                                        string addtocartlink = "";
                                        var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
                                        var quantity = 1;
                                        if (item.ProductPrice.ForceRedirectionAfterAddingToCart)
                                        {
                                            addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = item.ProductPrice.ForceRedirectionAfterAddingToCart });
                                        }
                                        else
                                        {
                                            addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, });
                                        }
                            decimal discount = 0;
                                if (!item.ProductPrice.OldPrice.IsEmpty())
                                {
                                    @*decimal oldPrice = decimal.Parse(item.ProductPrice.OldPrice, System.Globalization.NumberStyles.Currency);
                                    decimal newPrice = decimal.Parse(item.ProductPrice.Price, System.Globalization.NumberStyles.Currency);
                                    discount = (oldPrice - newPrice) * 100 / oldPrice;*@
                                }

                                if (i++ % 5 == 0)
                                {
                                    if (i < 5)
                                    {
                                        @Html.Raw("<div class=\"item active\"><ul class=\"thumbnails\">");
                                    }
                                    else
                                    {
                                        @Html.Raw("<div class=\"item\"><ul class=\"thumbnails\">");
                                    }
                                }
                                <li class="span3 ">
                                    <div class="thumbnail pull-left">
                                        <div class="productAlignBlock">
                                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })">
                                            <img alt="" src="@item.DefaultPictureModel.ImageUrl"
                                                 class="imageNormal">
                                        </a>
                                        </div>

                                        <div class="caption pull-left">
                                            @if (!item.ProductPrice.OldPrice.IsEmpty())
                                            {
                                                <span class="actualPrice">@item.ProductPrice.OldPrice</span>
                                                <span class="offPrice">@item.ProductPrice.Discount.ToString("#")%<sup>OFF</sup></span>
                                            }
                                            <span class="sellingPrice">@item.ProductPrice.Price</span>
                                            <span class="productDesc pull-left">@item.Name</span>
                                            <a href="#" class="buttonShopNow">SHOP NOW</a>
                                        </div>
                                    </div>
                                    <div class="quickView">
                                         <a class="btn btn-primary" href="/esybuy/Catalog/QuickView?productId=@item.Id" data-target="#quickView" data-toggle="modal">Quick View</a> 
                                    </div>
                                </li>

                                if (i % 5 == 0)
                                {
                                    @Html.Raw("</ul></div>");
                                }

                            }

                            @if (i % 5 != 0)
                            {
                                @Html.Raw("</ul></div>");
                            }



                        </div>
                        <a data-slide="prev" href="#featured2" class="left carousel-control"></a> <a data-slide="next" href="#featured2" class="right carousel-control"></a>

                    </div>
                </div>
            </div>
        </div>
</div>
}