@model IList<ProductOverviewModel>


@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Catalog;
@{
Html.AppendScriptParts("~/scripts/public.ajaxcart.js");  
Html.AppendCssFileParts("~/styles/TGI/offerPage.css");
}

@if (Model.Count > 0)
{
    int i = 0;
<div class="mainContentBottom pull-right span10 noMarginLeft">
    <div class="productDisplayBlock pull-left"><h3 class="productHeading pull-left">
        Mobiles<a href=# class=viewAll>View All</a> </h3>
        <div class="span10 noMarginLeft pull-right">
            <ul class="thumbnails noMarginLeft productBlock">
 @foreach (var item in Model)
                            {



                     string addtocartlink = "";
                                        var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
                                        var quantity = 1;
                                        if (item.ProductPrice.ForceRedirectionAfterAddingToCart)
                                        {
                                            addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = item.ProductPrice.ForceRedirectionAfterAddingToCart });
                                        }
                                        else
                                        {
                                            addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, });
                                        }
                <li class="span3 noMarginLeft marginRight">
                  

                    <div class=thumbnail>
    
                          
                                     
                       @* <a href=detailPage.html> <img src=common/images/offer-of-the-day-mobile.png alt=image data-alt-src=common/images/temp/offer-of-the-day-mobile-hover.png class="imageNormal"/> </a>*@
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })">
                                            <img alt="" src="@item.DefaultPictureModel.FullSizeImageUrl"
                                                 class="imageNormal">
                                        </a>
                        <div class="caption pull-left">
                            <span class="productDesc pull-left">@item.Name</span>
                            <span class=actualPrice>@item.ProductPrice.OldPrice</span>
                            <span class=sellingPrice>@item.ProductPrice.Price</span>
                            <div class=instock>Instock <span class=noBold> (80% sold out) </span> </div>
                            @*<a class=buttonShopNow href=#><span class=iconShopNow></span> SHOP NOW</a>*@ 
                            <a onclick="AjaxCart.addproducttocart_catalog('@addtocartlink '); return false;" class="buttonShopNow">SHOP NOW</a>
                        </div>
                    </div>
                     <div class=quickView><a class="btn btn-primary" href="~/Catalog/QuickView?productId=@item.Id" data-target="#quickView" data-toggle="modal">Quick View</a></div> 
                 
                    <div class=discountTag>
                        <span class="discount pull-left">DISCOUNT</span>
                        <span class="offPercentage pull-left">40%<sup>OFF</sup></span>
                        <span class="youSaved pull-left">You saved</span>
                        <span class="youSaved blackColor pull-left">1000AED</span>
                    </div>
                        
                </li>

                }
            </ul>
        </div>
    </div>
</div>
}

