@model TopMenuModel
@using Orbio.Web.UI.Models.Catalog;
@helper RenderCategoryLine(CategorySimpleModel category, int level)
{
            
        <li class="dropdown"><a href="@Url.RouteUrl("Category", new { SeName = category.SeName })?p=ct" class="dropdown-toggle" data-toggle="dropdown">@category.Name<i class="fa fa-angle-down"></i></a>
         @if (category.SubCategories.Count > 0)
         {
              <ul class="dropdown-menu">
                     <li>
        <div class="row">
            <div class="container">
                  @foreach (var subCategory in category.SubCategories)
                  {
                      <div class="col-sm-3">
                      @RenderSubCategoryLine(subCategory)
                       </div>

                  }
                </div>
        </div>
    </li>
              </ul>
         }
         </li>
    
}
@helper RenderSubCategoryLine(CategorySimpleModel category)
{ 
    
                    <h3>@category.Name</h3>
                    <ul>
                        @if (category.SubCategories.Count > 0)
                        {
                            foreach (var subCategory in category.SubCategories)
                            {
            
                            <li><a href="@Url.RouteUrl("Category", new { SeName = subCategory.SeName })?p=ct">@subCategory.Name</a></li>  
            
                            }


                        }
                    </ul>
             
            
  @*  if (category.SubCategories.Count > 0)
    {
           
         <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })"  class="viewAllMenu">View All</a> }*@
}                                                                                                                                                                                                                                 
            <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index", "Home")" class="home"></a></li>
                         @if (Model.Categories.Count > 0)
                         {
                             foreach (var category in Model.Categories)
                             {
                                @RenderCategoryLine(category, 0)
                             }
                         }                 
                    </ul>
                </div>

<script>
$('ul.unstyled').each(function () {
$(this).children('li').slice(7).hide();
});
</script>
